/* Move down content because we have a fixed navbar that is 50px tall */
body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 20px;
    padding-right: 20px;
}

.myDatagrid td {
    padding-left: 10px;
    padding-right: 10px;
}

.myDatagrid th {
    padding-left: 10px;
    padding-right: 10px;
}

.img {
    width: 50px;
    height: 50px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Start of Navigation CSS */
.navbar {
    background-color: #0095E6!important;
    color: white!important;
}

.backendNav {
    background-color: rgba(95, 51, 255,0.5) !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255, 0.7) !important;
}

.navbar-toggler {
    border: 1px solid rgba(255,255,255,0.7) !important;
}

.navbar-toggler-icon {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.7%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.searchbar1 {
    display: none;
}

#navContentLinks {
    display: none !important;
}

.justify-content-end {
    justify-content: end;
}

.nav-contents {
    width: auto;
}

.navbar-right {
    justify-content: end !important;
}

.navLinks {
    width:80%;
}

.userNavLink {
    width: 20%;
}
/* End of Navigation Codes*/

/* Start of BreadCrumb Codes*/
/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: transparent;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 15px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* End of BreadCrumb Codes*/

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 632px) {
    .searchbar1 {
        display: flex;
    }

    .searchbar2 {
        display: none;
    }

    #navContentLinks {
        display: flex !important;
    }

    #collapsibleNavbar {
        display: none !important;
    }
    .nav-contents {
        width: -webkit-fill-available;
    }
}


@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

/*    .body-content {
        padding: 0;
    }*/
    .searchbar1 {
        display: flex;
    }

    .searchbar2 {
        display: none;
    }
}
